<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xiaotu</key>
		<string>luntan01.png</string>
		<key>text</key>
		<string>luntanlist01.txt</string>
		<key>xiangqing</key>
		<string>luntan1.png</string>
	</dict>
	<dict>
		<key>xiaotu</key>
		<string>luntan02.png</string>
		<key>text</key>
		<string>luntanlist02.txt</string>
		<key>xiangqing</key>
		<string>luntan2.png</string>
	</dict>
	<dict>
		<key>xiaotu</key>
		<string>luntan03.png</string>
		<key>text</key>
		<string>luntanlist03.txt</string>
		<key>xiangqing</key>
		<string>luntan3.png</string>
	</dict>
	<dict>
		<key>xiaotu</key>
		<string>luntan04.png</string>
		<key>text</key>
		<string>luntanlist04.txt</string>
		<key>xiangqing</key>
		<string>luntan4.png</string>
	</dict>
	<dict>
		<key>xiaotu</key>
		<string>luntan05.png</string>
		<key>text</key>
		<string>luntanlist05.txt</string>
		<key>xiangqing</key>
		<string>luntan5.png</string>
	</dict>
	<dict>
		<key>xiaotu</key>
		<string>luntan06.png</string>
		<key>text</key>
		<string>luntanlist06.txt</string>
		<key>xiangqing</key>
		<string>luntan6.png</string>
	</dict>
	<dict>
		<key>xiaotu</key>
		<string>彩虹六号.png</string>
		<key>text</key>
		<string>luntanlist07.txt</string>
		<key>xiangqing</key>
		<string>luntan7.png</string>
	</dict>
	<dict>
		<key>xiaotu</key>
		<string>luntan08.png</string>
		<key>text</key>
		<string>luntanlist08.txt</string>
		<key>xiangqing</key>
		<string>luntan8.png</string>
	</dict>
</array>
</plist>
